.post{

  .header{
    display: flex;
    align-items: center;
    h1{
      margin-bottom: 0.5rem;
    }
  }

  .header{
    justify-content: space-between;
  }

  .info{
    strong{
      margin-right: 1rem;
    }
  }
}
